@import "/src/styles/colors";
.custom-icon {
  position: relative;
  background-color: transparent;
  border: 0;
  .notification {
    background-color: $primary-light;
    color: $white;
    position: absolute;
    width: 15px;
    height: 15px;
    padding: auto;
    border-radius: 100%;
    top: -5px;
    right: -5px;
  }
}
