@import "/src/styles/colors";
.categories-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 18px;
    font-weight: 700;
    color: $primary;
  }
  .category-button {
    margin: 0 0.3rem;
  }
}
